.hotel {
  margin: 2rem 0;
  width: 775px;
}

.hotel-container {
  display: flex;
  gap: 20px;
  background-color: white;
}

.hotel-image {
  position: relative;
}

.hotel-image img {
  width: 100%;
  height: 100%;
}

.hotel-image span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  color: navy;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotel-description {
  background-color: white;
  padding: 10px 20px;
}

.hotel-description h4 {
  color: navy;
  margin: 0;
}

.hotel-details h2 {
  color: navy;
  margin-bottom: 10px;
}

.hotel-details small {
  color: grey;
}

.hotel-details p {
  font-size: 12px;
}

.btn-book {
  display: inline-block;
  padding: 10px 90px;
  background-color: #ffc107;
  color: navy;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn-book span {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
}
